.content-container {
    margin: 0;
}

.main-content {
    margin-left: 0;
    padding: 20px 4vw;
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    color: var(--color-primary-light);
}

.form-card {
    position: relative;
    z-index: 1;
    background: var(--color-card-background);
    width: min(420px, 90vw);
    height: 65vh;
    border-radius: 16px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.15);
    padding: 3% 24px;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


